.accordionContainer{
  width: 650px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 10px;

  
}

.question-con{
  display: flex;
  background-color: #552DDB;
  padding: 30px;
  color: #fff;
  font-weight: bold;

}
button{
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #552DDB;
  color: #fff;
}
.question{
  margin-left: 20px;
}
.answer{
  background: #5930E1;
  color: #fff;
  padding: 20px;
  padding-left: 50px;
}